<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<!-- Load in the JavaScript framework and register a callback function when it's loaded -->
<script type="text/javascript" src="http://platform.linkedin.com/in.js">/*
api_key: 3ntk7givavqe
onLoad: onLinkedInLoad
authorize: true
*/</script>
 
<script type="text/javascript">
function onLinkedInLoad() {
     // Listen for an auth event to occur
     IN.Event.on(IN, "auth", onLinkedInAuth);
}
 
function onLinkedInAuth() {

}
 
function PeopleSearch(keywords) {
     // Call the PeopleSearch API with the viewer's keywords
     // Ask for 4 fields to be returned: first name, last name, distance, and Profile URL
     // Limit results to 10 and sort by distance
     // On success, call displayPeopleSearch(); On failure, do nothing.
     var keywords = document.getElementById('keywords').value; 
     IN.API.PeopleSearch()
         .fields("firstName", "lastName", "distance", "siteStandardProfileRequest")
         .params({"keywords": keywords, "count": 10, "sort": "distance"})
         .result(displayPeopleSearch)
         .error(function error(e) { /* do nothing */ }
     );
}
 
function selectref(){
	var ref = document.getElementById('referencesel');
	document.getElementById('reference').value = ref.options[ref.selectedIndex].value;
	document.getElementById('referenceName').value = ref.options[ref.selectedIndex].text;
}
function displayPeopleSearch(peopleSearch) {
	var sel = document.getElementById("referencesel");
	var members = peopleSearch.people.values;
     	for (var member in members) {
         var nameText = members[member].firstName + " " + members[member].lastName;
         var url = members[member].siteStandardProfileRequest.url;
         var distance = members[member].distance;
         switch (distance) {
         case 0:
             	break;
         case 1:
		var opt = document.createElement('option');
		opt.text = nameText;
		opt.value = url;
		sel.add(opt,null);
		break;
         case 2: 
         case 3:
         case 100:
         case -1:
         }
     }
}
</script>
</head>
<body>
<script type="IN/Login"></script>
<div id="peopleSearchResults">
	<form method="post">
		{% if form.errors %}
		    <ul class="errors">
		        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
	            	{% for error in field_errors %}
                	<li>{{ form[field_name].label }}: {{ error }}</li>
            		{% endfor %}
        		{% endfor %}
    		    </ul>
		{% endif %}
		{{form.hidden_tag()}}	
 		<p><input id="keywords" size="30" value="Java" type="text">
                <a href="javascript:PeopleSearch();">Search</a></p>
		<p><select id="referencesel" name="referencesel"></select>
		<a href="javascript:selectref();">Select</a></p>
		<br/>	
		<p>Item Id: {{form.itemid}}</p>
                <p>Jobs: {{form.job()}}</p>
		<p>Referral Name: {{form.referenceName}}</p>
		<p>Referral Link: {{form.reference()}}</p>
		<p><input type="hidden" id="status" name="status" value="new"/></p>
		{% if edit %}
		<input type="submit" value="Edit" formaction="{{url_for('referral',id=form.itemid.data)}}"/>
		{% else %}
		<input type="submit" value="Submit" formaction="{{url_for('referrals')}}"/>
		{% endif %}
        </form>
</div>
</body>
</html>
