<!DOCTYPE html>
<html>
	<body>
		<form method="post">
			{{ form.hidden_tag() }}
			{% for error in form.jobid.errors %}
			<p>{{ error }}</p>
			{% endfor %}
			<p>
				{{ form.jobid() }}				
			</p>
			<p>
				{{form.description()}}	
			</p>
			<p>
				{{form.reward()}}
			</p>
			{% if edit %}
			    <input type="submit" value="Edit" formaction="{{url_for('job',id=form.jobid.data)}}">
			{% else %}
			    <input type="submit" value="Submit" formaction="{{url_for('jobs')}}">
			{%endif%}

		</form> 


	</body>
</html>

