<!DOCTYPE html>
<html>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript">
		{% if edit%}
		function getStageForm(){
			$.get("{{url_for('stages',id=form.jobid.data)}}", function(data) {
				$('#add-stage').html(data);
				$('#add-stage').show();
			});
		}
		function postStageForm(formid){
			$.post("{{url_for('stages',id=form.jobid.data)}}", $(formid).serialize())
			.done(
				function(data){
					$('#stages').html(data);
					$('#add-stage').hide();
				});
		}
		{% endif %}
	</script>
	<body>
		<form method="post">
			{{ form.hidden_tag() }}
			{% for error in form.jobid.errors %}
			<p>{{ error }}</p>
			{% endfor %}
			<p>
				{{ form.jobid() }}				
			</p>
			<p>
				{{form.description()}}	
			</p>
			{% if edit %}
			    <input type="submit" value="Edit" formaction="{{url_for('job',id=form.jobid.data)}}">
			    <input type="button" value="Add Stage" formaction="{{url_for('stages',id=form.jobid.data)}}" onclick="getStageForm();">
			{% else %}
			    <input type="submit" value="Submit" formaction="{{url_for('jobs')}}">
			{%endif%}
		</form>
		<div id="add-stage"></div>
		<div id="stages">
		{% if edit %}
			{% if stages %}
				<ul>
			{% for stage in stages %}
			     <li> {{stage.description}}:{{stage.reward}}</li>
			{% endfor %}
				</ul>
			{% endif %}
		{% endif %}
		</div> 


	</body>
</html>

