{% extends "layout.html" %}
{% block body %}
<script type="text/template" id="layer-item-template">
	<div class="well" style="min-height:200px;"><p>Job Id: <%= itemid %></p></div>
</script>
<script type="text/template" id="reward-item-template">
        <div class="well"><p>Reward Id: <%= itemid %></p></div>
</script>
<div class="container">
<div class="row below-header">
  <div class="col-lg-12"><div class="well"><p>col-lg-12</p></div></div>
</div>
<div class="row">
<div class="col-lg-9 col-sm-12 col-12">
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-12"><div class="well"><p>Latest Jobs</p></div></div>
		<div id="jobs-region" syle="overflow-y:scroll;"></div>
	</div>
</div>
<div class="col-lg-3 col-sm-12 col-12">
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-12"><div class="well"><p>Latest Rewards</p></div></div>
		<div id="rewards-region"></div>
	</div>
</div>
</div>
</div>
{% endblock %}
