{% extends "layout.html" %}
{% block body %}

<script type="text/template" id="referral-item-template">
        <div class="well" style="min-height:200px;">
		<p>Job Id: <%= itemid %></p>
	</div>
</script>

<script type="text/html" id="linkedin-search-widget">
	{% raw %}
		<div id="linkedin-widget-div" class="well">
			<p><input id="keywords" size="30" value="Java" type="text">
	                <a href="javascript:PeopleSearch();">Search</a></p>
        	        <p><select id="referencesel" name="referencesel"></select>
                	<a href="javascript:selectref();">Select</a></p>		
		</div>
		<%if (!IN.User.isAuthorized()){%>
		<div id="linkedin-widget-login" >
			<% print("<sc" + "ript type='IN/Login'>"); %>
			<% print("</sc"+"ript>"); %>
		</div>
		<%}%>
	{% endraw %}
</script>


<script type="text/template" id="job-item-template">
	<div class="well" style="min-height:200px;"><p>Job Id: <%= itemid %></p></div>
</script>
<script type="text/template" id="reward-item-template">
        <div class="well"><p>Reward Id: <%= itemid %></p></div>
</script>

<script type="text/template" id="referral-form-template">
	<div class="well">
	<form>
        <div class="control-group">
          <label for="referral-name-label" class="control-label">Referral Name:</label>
          <input id="referralName" name="referralName" type="text" value="<%= referralName %>"/>
        </div>
        <div class="control-group">
          <label for="referral-link-label" class="control-label">Referral Link:</label>
          <input id="referralLink" name="referralLink" type="text" value="<%= referralLink %>"/>
        </div>
        <div class="control-group">
          <label for="comment-label" class="control-label">Comment:</label>
          <input id="comment" name="comment" type="text" value="<%= comment %>"/>
        </div>
	  <input id="jobid" name="jobid" type="hidden" value="<%=jobid%>"/>
	  <input id="user" name="user" type="hidden" value="{{current_user.itemid}}"/>
        <button class="btn js-submit">Save</button>
      </form>
	</div>
</script>


<div class="container">
<div class="row below-header">
  <div class="col-lg-12"><div class="well"><p>col-lg-12</p></div></div>
</div>
<div class="row">
<div class="col-lg-9 col-sm-12 col-12">
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-12"><div id="main-region-title" class="well"><p>Latest Jobs</p></div></div>
		<div id="main-region" syle="overflow-y:scroll;"></div>
	</div>
	<div class="row"><div id="main-sub"></div></div>
	<div class="row"><div id="main-sub-2"></div></div>
</div>
<div class="col-lg-3 col-sm-12 col-12">
	<div class="row">
		<div id="rhs-sub-title" class="col-lg-12 col-sm-12 col-12"><div class="well"><p>Latest Rewards</p></div></div>
		<div id="rhs-sub"></div>
	</div>
</div>
</div>
</div>

<script type="text/javascript">
function onLinkedInLoad() {
     IN.Event.on(IN, "auth", onLinkedInAuth);
}

function onLinkedInAuth() {
	$("#linkedin-widget-div").show();
}

function isUserAuthorized(){
	return IN.User.isAuthorized();
}

function PeopleSearch(keywords) {
     var keywords = document.getElementById('keywords').value;
     IN.API.PeopleSearch()
         .fields("firstName", "lastName", "distance", "siteStandardProfileRequest")
         .params({"keywords": keywords, "count": 10, "sort": "distance"})
         .result(displayPeopleSearch)
         .error(function error(e) { /* do nothing */ }
     );
}

function selectref(){
        var ref = document.getElementById('referencesel');
        document.getElementById('referralLink').value = ref.options[ref.selectedIndex].value;
        document.getElementById('referralName').value = ref.options[ref.selectedIndex].text;
}
function displayPeopleSearch(peopleSearch) {
        var sel = document.getElementById("referencesel");
        var members = peopleSearch.people.values;
        for (var member in members) {
         var nameText = members[member].firstName + " " + members[member].lastName;
         var url = members[member].siteStandardProfileRequest.url;
         var distance = members[member].distance;
         switch (distance) {
         case 0:
                break;
         case 1:
                var opt = document.createElement('option');
                opt.text = nameText;
                opt.value = url;
                sel.add(opt,null);
                break;
         case 2:
         case 3:
         case 100:
         case -1:
         }
     }
}
</script>
{% endblock %}
