{% extends "layout.html" %}
{% block body %}

<script type="text/template" id="referral-item-template">
        <div class="well" style="min-height:200px;">
		<p name='referenceName'>Job Id:<%= itemid %></p>
		<input name='job' type="hidden" value="<%=job%>">
		<input name='user' type="hidden" value="<%=user%>">
	</div>
</script>

<script type="text/html" id="li-referral-form-template">
	<div class="well" style="min-height:200px;">
		<form>
			<p><%=name %></p>
			<input name='referenceName' type="hidden" value="<%=name%>">
                        <input name='reference' type="hidden" value="<%=url%>">
               		<input name='job' type="hidden" value="<%=job%>">
                	<input name='user' type="hidden" value="<%=user%>">
		</form>
		<button id='submit-ref' class="btn js-submit">Submit Reference</button>
	</div>
</script>

<script type="text/template" id="user-job-referral-template">
        <div>
                <a href='<%=reference%>'><%=referenceName%></a>
                <input name='job' type="hidden" value="<%=job%>">
                <input name='user' type="hidden" value="<%=user%>">
        </div>
</script>

<script type="text/template" id="user-job-referrals-container-template">
        <div class="well" style="min-height:200px;">
		<p>Referrals you have already made:</p>
		<div id='user-job-referrals-itemview-container'></div>
        </div>
</script>

<script type="text/html" id="linkedin-login-button">
	{% raw %}
		<div id="linkedin-login-div" >
                        <% print("<sc" + "ript type='IN/Login'>"); %>
                        <% print("</sc"+"ript>"); %>
                </div>
	{% endraw %}		
</script>

<script type="text/html" id="linkedin-search-widget">
	{% raw %}
		<div id="linkedin-widget-div" class="well">
			<p><input id="keywords" size="30" value="Java" type="text">
        	        <button id='search-ref' class="btn js-submit">Search</button>
			<div id = "li-referral-form"></div>
		</div>
	{% endraw %}
</script>

<script type="text/template" id="lisearch-item-template">
        <div class="well" style="min-height:200px;">
			<form>
			<img src="<%=pictureUrl%>" alt="<%=name%>" width="80" height="80">
			<a name='name' href="<%=publicProfileUrl%>"><%=firstName%> <%=lastName%></a>
			<p><%= headline%></p>
			<p><%=location.name%></p>
                	<input name='job' type="hidden" value='<%=job%>'>
                	<input name='user' type="hidden" value='<%=user%>'>
			<input name='name' type="hidden" value='<%=firstName%> <%=lastName%>'>
			<input name='url' type="hidden" value='<%=publicProfileUrl%>'>
			</form>
			<button class="btn js-submit">Select</button>
        </div>
</script>

<script type="text/template" id="job-item-template">
	<div class="well" style="min-height:200px;">
		<p>Job Id: <%= itemid %></p>
		<input type="hidden" id="current-jobid" value="<%=itemid%>"/>
	</div>
</script>
<script type="text/template" id="reward-item-template">
        <div class="well"><p>Reward Id: <%= itemid %></p></div>
</script>

<script type="text/template" id="referral-form-template">
<div class="well" id='referral-form'>
	<form>
	  <p>	
          <label for="referral-name-label" class="control-label">Referral Name:</label>
          <input id="referenceName" name="referenceName" type="text" value="<%= referenceName %>"/>
          </p><p>
 	  <label for="referral-link-label" class="control-label">Referral Link:</label>
          <input id="reference" name="reference" type="text" value="<%= reference %>"/>
          </p><p>
	  <label for="comment-label" class="control-label">Comment:</label>
          <input id="comment" name="comment" type="text" value="<%= comment %>"/>
	  </p><p>
	  <input id="job" name="job" type="hidden" value="<%=job%>"/>
	  <input id="user" name="user" type="hidden" value="<%=user%>"/>
          <button class="btn js-submit">Save</button>
      </form>
</div>
</script>

<div class="container">
<div class="row below-header">
  <div class="col-lg-12"><div class="well"><p>col-lg-12</p></div></div>
</div>
<div class="row">
<div class="col-lg-9 col-sm-12 col-12">
	<div class="row">
		<div class="col-lg-12 col-sm-12 col-12"><div id="main-region-title" class="well"><p>Latest Jobs</p></div></div>
		<div id="main-region" syle="overflow-y:scroll;"></div>
	</div>
	<div class="row"><div id="main-sub"></div></div>
	<div class="row"><div id="main-sub-2"></div></div>
	<div class="row"><div id="main-sub-3"></div></div>
</div>
<div class="col-lg-3 col-sm-12 col-12">
	<div class="row">
		<div id="rhs-sub-title" class="col-lg-12 col-sm-12 col-12"><div class="well"><p>Latest Rewards</p></div></div>
		<div id="rhs-sub"></div>
	</div>
</div>
<input id='linkedin-userid' type='hidden' value=''/>
</div>
</div>

<script type="text/javascript">
function onLinkedInLoad() {
     	if(gmm.Viewer){
                gmm.Viewer.trigger("linkedin:load");}
	IN.Event.on(IN, "auth", onLinkedInAuth);
}

function linkedinLogout(){
	$('#linkedin-logout').hide();
	IN.User.logout();
}

function onLinkedInAuth() {
	$('#linkedin-logout').show();
	IN.API.Profile("me").result( function(me) {
		$('#linkedin-userid').val(me.values[0].id);
    	});
	if(gmm.Viewer){
		gmm.Viewer.trigger("linkedin:auth");}
}

function isUserAuthorized(){
	return IN.User.isAuthorized();
}
</script>
{% endblock %}
