<!DOCTYPE html>
<html class="no-js">
    <head> 
        <title>R3</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />	
		<link rel="stylesheet" type=text/css href="{{url_for('static', filename='css/bootstrap.css')}}" />		
		<link rel="stylesheet" type=text/css  href="{{url_for('static', filename='css/offcanvas.css')}}" />
		 <link rel="stylesheet" type=text/css  href="{{url_for('static', filename='css/nns.css')}}" />
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/x-icon" href="favicon.ico" />		
		<script src="{{url_for('static', filename='js/modernizr.js')}}"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="{{url_for('static', filename='js/jquery.offcanvas.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>		
		<script>
			jQuery(document).ready(function($) {
				$('html').offcanvas();
			});
		</script>
		<script type="text/javascript" src="http://platform.linkedin.com/in.js">
		api_key: 3ntk7givavqe
		onLoad: onLinkedInLoad
		authorize: true
		</script>	
		<!-- If browser is internet explorer run HTML5 compatibility code -->		
		<!--[if IE]>
		    <script src="js/html5.js"></script>  
		<![endif]-->
	</head>
	<body>
		<aside id="sidebarLeft" class="sidebarLeft">
			<div class="scrollableArea">
				<a class="shutLeft" href="">&#10006;</a>			
				<div class="scrollableArea">
					<a class="shutLeft" href="">&#10006;</a>
					<div class="you padded">
				{% if user.is_authenticated() %}
				<a href="#"><img class="avatar" src="{{url_for('static', filename='img/users/nirav.jpg')}}" alt="{{ user.first_name }}" width="80"/></a>
				{% else %}
				<a href="#"><img class="avatar" src="{{url_for('static', filename='img/users/guest.jpg')}}" alt="guest" width="80"/></a>
				{% endif %}
			
						{% if user.is_authenticated() %}
						<h2><a href="#">{{user.first_name}} {{user.last_name}}</a></h2>
						{% else %}
						<h2><a href="#">Guest</a></h2>
						{% endif %}
					</div>
					<ul class="paddedLight">
						<li><a href="#/home"><span class="icon">&#8962;</span>Home</a></li>
						<li/>
						{% if user.has_role('referrer') %}
						<li><a href="#"><span class="icon">&#59196;</span>Refer</a></li>
						{% endif %}
						{% if user.has_role('employer') %}
						<li><a href="#"><span class="icon">&#59136;</span>Recruit</a></li>
						{% endif %}
						{% if user.has_role('seller') %}
						<li><a href="#"><span class="icon">&#127942;</span>Rewards</a></li>
						{% endif %}					
						<li><a href="#"><span class="icon">&#59168;</span>Inbox</a></li>
						<li><a href="#"><span class="icon">&#59201;</span>Sign Out</a></li>
						<li><a href="#"><span class="icon">&#9881;</span>Settings</a></li>
				</ul>
				</div>
			</div>
		</aside>	
		<section id="page" class="page">
			<header class="topBar">					
			<a id="leftBurger" class="slideRight" href="">R3</a></span>
			</header>
			<div class="scrollableArea" style="overflow-x:hidden;">
			{% block body %}{% endblock %}
			</div>
		</section>
                <div class="container">
			<div id="myModal" class="modal fade"></div>
		</div>
		<script type="text/html" id="job-item-details-template">
			    <div class="modal-dialog">
			      <div class="modal-content">
				<div class="modal-header">
			          	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			          	<h4 class="modal-title">Modal title</h4>
				</div>
        			<div class="modal-body">
          			<p>Job Id: <%=itemid%></p>
				<p>Job Desc: <%=description%></p>
        			</div>
        			<div class="modal-footer">
					<a id="refer-button" data-dismiss="modal" aria-hidden="true" href="/jobs/<%=itemid%>/refer" class="btn btn-primary btn-lg">Refer</a>
        			</div>
      			     </div><!-- /.modal-content -->
			    </div><!-- /.modal-dialog -->
		</script>

	         <script type="text/html" id="reward-item-details-template">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                <p>Reward Id: <%=itemid%></p>
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                             </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                </script>

		<script src="{{url_for('static', filename='js/overthrow.js')}}"></script>
		<script src="{{url_for('static', filename='js/hammer.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.hammer.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/json2.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/underscore-1.4.3.js')}}"></script>
		
		<script type="text/javascript" src="{{url_for('static', filename='js/backbone-0.9.10.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/backbone.babysitter-0.0.4.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/backbone.wreqr-0.1.0.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/backbone.marionette-1.0.0-rc3.js')}}"></script>
		 <script type="text/javascript" src="{{url_for('static', filename='js/backbone.syphon.js')}}"></script>
		
		<script type="text/javascript" src="{{url_for('static', filename='backbone/BootstrapModalRegion.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='backbone/ViewerApp.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='backbone/JobsModule.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='backbone/RewardsModule.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='backbone/ReferralsModule.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='backbone/RouterModule.js')}}"></script>

		<script>   
		$(function(){
			console.log('Function to kick-off backbone');
			var options = {};
			gmm.Viewer.start(options);
		});
		</script>		
	</body>
</html>
