<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
	function rejectReferral(refid){
		$.get("/referrals/" + refid + "/status/rejected", function(data) {
				$('#' + refid).remove()
		});
	}
</script>
<ul>
    <li>{{job.jobid }} : {{job.description }}</li>
    {% if stages %}
	<ul>
	<p> Stages : Rewards </p>
	{% for stage in stages %}
	<li>{{stage.description}} : {{stage.reward}}</li>
	{% endfor %}
	</ul>
    {% endif %}	
</ul>

{% if referrals%}
<p>Referrals</p>
<ul>
{% for ref in referrals%}
	{% if ref.status != 'rejected'%}
	<li id={{ref.itemid}}>
		<a href={{ref.reference}}>{{ref.referenceName}}</a>
		{% if ref.status == 'new' %}
			<p>[
			{% if stages%}
				<a href="">Promote to - {{stages[0].description}}</a>
			{% else %}
				<a href="">Promote to - Next Stage</a>
			{% endif %}
				 <a href="javascript:rejectReferral('{{ref.itemid}}');">Reject Referral</a>
			]</p>
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
{% endif %}
