<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		 get_job_referrals('{{job.jobid}}');
	})

	function get_job_referrals(jobid){
		$.get("/jobs/" + jobid + "/referrals", function(data) {
                        $('#job_referrals').html(data);
                });
	}
	function change_referral_status(jobid,refid, value){
		$.get("/jobs/" + jobid + "/referrals/" + refid + "/status/" + value, function(data) {
			$('#job_referrals').html(data);
		});
	}
</script>
<ul>
    <li>{{job.jobid }} : {{job.description }}</li>
    {% if stages %}
	<ul>
	<p> Stages : Rewards </p>
	{% for stage in stages %}
	<li>{{stage.description}} : {{stage.reward}}</li>
	{% endfor %}
	</ul>
    {% endif %}	
</ul>

{% if referrals%}
<div id='job_referrals'>
</div>
{% endif %}
