{% extends "layout.html" %}
{% block body %}

<script type="text/template" id="recruitpage-layout">
<div class="row">
        <!-- 9 Column LHS Section -->
        <div class="col-lg-9 col-sm-12 col-12">
                <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12">
                                <div id="lhs-row-1"></div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12">
                                <div id="lhs-row-2"></div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12">
                                <div id="lhs-row-3"></div>
                        </div>
                </div>
                <div class="row">
                        <div id="lhs-row-4-col-1"></div>
                        <div id="lhs-row-4-col-2"></div>
                </div>
                <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12">
                                <div id="lhs-row-5"></div>
                        </div>
                </div>
        </div>
        <!-- End LHS Section -->
        <!-- 3 Column RHS Section -->
        <div class="col-lg-3 col-sm-12 col-12">
                <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12">
                                <div id="rhs-row-1"></div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12">
                                <div id="rhs-row-2"></div>
                        </div>
                </div>
        </div>
</div>
</script>

<script type="text/template" id="recruit-add-job">
	<div class="well">
		<p><a class="btn btn-primary btn-lg">Add a New Vacancy</a></p>
	</div>
</script>
	
{% endblock %}
