{% extends "layout.html" %}
{% block body %}

<script type="text/template" id="recruitpage-layout">
<div class="row">
      <div class="col-lg-12 col-sm-12 col-12">
                 <div id="lhs-row-1"></div>
      </div>
<div>
<div class="row">
	<div class="col-lg-8 col-sm-12 col-12">
               <div id="lhs-row-2-col-1"></div>
        </div>
      	<div class="col-lg-4 col-sm-12 col-12">
               <div id="lhs-row-2-col-2"></div>
        </div>
</div>
</script>

<script type="text/template" id="recruit-add-job">
	<div class="well">
		<p><a class="btn btn-primary btn-lg">Add a New Vacancy</a></p>
	</div>
</script>
	
{% endblock %}
